django==2.1
djangorestframework==3.8.2
django-cors-headers==2.4.0
django-registration-redux==2.4
django-dual-authentication==1.0
django-cron==0.5.1
django-dbbackup==3.2.0
overpass==0.6.0
django-debug-toolbar
